*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 50%;
    height:350px;
    display: grid;
    gap: 4px;
    grid-template-rows: 150px 50px 50px 50px 50px;
    grid-template-columns:1fr 1fr 1fr  1fr;
    grid-template-areas:
    'one one  one one '
    'two three four four'
    'two five five six'
    'two seven eight nine'
    'two ten ten ten'

       ;

}

.one {
    grid-area: one;
    background-color:yellow;
}

.two {
    grid-area:two;
    background-color:yellow;
}

.three {
    grid-area:three;
    background-color:yellow;
}

.four {
    grid-area:four;
    background-color:yellow;
}

.five {
    grid-area:five;
    background-color:yellow;
}

.six {
    grid-area:six;
    background-color:yellow;

}

.seven{
    grid-area:seven;
    background-color:yellow;

}

.eight {
    grid-area:eight;
    background-color:yellow;

}

.nine {
    grid-area:nine;
    background-color:yellow;

}

.ten  {
    grid-area:ten;
    background-color:yellow;

}


