*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.container {
    display:grid;
    gap:4px;
    width:50%;
    height:400px;
    margin: auto;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas: 
    'header header header'
    'nav article ads'
    'footer footer footer'
    ;
}

.header {
    grid-area: header;
    background-color: yellow;
}

.nav {
    grid-area: nav;
    background-color: yellow;
}

.article{
    grid-area: article;
    background-color: yellow;
}

.ads {
    grid-area: ads;
    background-color: yellow;
}

.footer{
grid-area: footer;
    background-color: yellow;
}