* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin: auto;
    width: 50%;
    display: grid;
    gap: 2px;
    grid-template-rows: 30px 225px 75px 75px 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'header menu menu menu'
        'hero hero hero hero'
        'main main none image'
        'main main none extra'
        'banner banner banner banner';

}

.header {
    grid-area: header;
    background-color: #0f1629;
}

.menu {
    grid-area: menu;
    background-color: #ef3c4f;
}

.hero {
    grid-area: hero;
    background-color: #4c86c6;
}

.main {
    grid-area: main;
    background-color: #24344b;
}

.image {
    grid-area: image;
    background-color: #c1e4e6;
}

.extra {
    grid-area: extra;
    background-color: #4dbd97;
}

.banner {
    grid-area: banner;
    background-color: #ffd169;
}

.col {
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (max-width:850px) {
    .container {
        margin: auto;
        grid-template-rows: 30px 158px 157px 60px 60px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'header header header'
            'hero hero hero'
            'menu main main'
            'menu banner banner'
            'menu extra image';
    }
}

@media (max-width:430px) {
    .container {
        margin: auto;
        grid-template-rows: 30px 30px 113px 112px 60px 60px 60px;
        grid-template-columns: 1fr;
        grid-template-areas:
            'header'
            'menu'
            'hero'
            'main'
            'banner'
            'extra'
            'image';
    }
}