*{
    margin:0px; 
    padding:0px; 
    box-sizing:border-box;
}

.row {
    display:flex;
    justify-content: space-around;
}

.col-25 {
    width: 20%;
}

.box_1 {
    position: relative;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-bottom:20px;
}

.box_1 img {
    height: 400px;
    width: 100%;
}

.box_1 h3 {
    margin:40 0;
}

.one {
    position: absolute;
    /* margin-top: 50px; */
    left: 100px;
    bottom: 130px;
    border: 2px solid red;
    border-radius: 50%;
    width: 55px;
    font-size: 40px;
    background-color: black;
}

.btn {
    text-align: center;
    margin: 20px auto;
}

.btn button {
    height: 40px;
    width: 150px;
    background-color: brown;
    border: none;
    border-radius: 20px;
    /* padding: 50px 50px; */
}

.box_2 {
    position: relative;
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-bottom:20px;
}

.box_2 img {
    height:350px;
    width:100%;
}

.box_2 h3 {
    margin:40px 0px;
}

.two {
    position:absolute;
    border:2px solid red;
    font-size:40px;
    border-radius:50%;
    bottom:130px;
    width:55px;
    background-color: black;
    left:100px;
}